/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main>.container {
    padding: 60px 15px 0;
}

.footer {
    background-color: #f5f5f5;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

nav ul li a:hover {
    color: white !important;
}

.navbar {
    /*Sombra no Menu Horizontal*/
    max-height: 75px;
    box-shadow: 6px 6px 10px -2px rgba(0, 0, 0, 0.4);
}

/* Estilos aplicados ao Menu Dropdown do Perfil do usuário */
.dropdown-menu {
    background-color: #343a40;
    border: 0;
    border-radius: 0;
    box-shadow: 6px 6px 10px -2px rgba(0, 0, 0, 0.4);
}

/*Ao passar o mouse sobre o Menu Horizontal, abre o Menu Vertical*/
.nav-item:hover>.dropdown-menu {
    display: block;
}

/*#menuPrincipal ul li a:hover{*/
.navbar div ul li a:hover {
    background-color: black;
}

/*Quando clicar no item do menu Vertical, fica marcado*/
.dropdown-item:focus {
    background-color: #343a40;
    /*Usei a mesma cor de fundo para não perceber a marcação*/
}

.dropdown-item {
    font-size: 1rem;
    /*1.1rem; - 15px; */
    color: white !important;
    /*min-width: 250px;*/
    /*max-width: 250px;*/
}